.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.table-padding {
    padding: 4px 4px 4px 4px !important;
}

@for $i from 0 through 99 {
    .width-#{$i} {
      width: round(percentage($i/100)) !important;
    }
}

@for $i from 0 through 99 {
    .height-#{$i} {
      height: round(percentage($i/100)) !important;
    }
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.bg-white {
    background-color: white;
}